.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://s-media-cache-ak0.pinimg.com/236x/41/b0/28/41b028b4b2370bdb3b8113b460a2c969.jpg');
  background-repeat: no-repeat;
}
