body {
  margin: 10px;
  padding: 10px;
  font-family: serif;
  background-image: url('http://wallpapercave.com/wp/CeAyDkX.jpg');
  background-repeat: no-repeat;
}
.form {
  text-align: center;
}
.main {
  margin-left:;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.day {
  display: flex;
  flex-direction: column;
}
.hourByhour {
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
}
.detailedForecast {
  display: flex;
  flex-direction: column;
}
.dateNtime {
  font-weight: bold;
}
